:root {
  --bg-dark: #030303;
  --bg-white: #ffffff;
  --font-boss: #a77540;
  --font-hero: #2d2e5d;
  --font-damage: #c83b1d;
  --font-main: #543524;
  --font-win: #244c3f;
  --font-lose: #8f3c3d;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

header,
section,
footer {
  padding-top: 75px;
  background-color: var(--bg-white);
  max-width: 1024px;
  margin: 0px auto;
}

h1,
h2,
h3,
p,
li,
a {
  font-family: Roboto;
  color: var(--font-hero);
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
  letter-spacing: 1.5;
  line-height: 25px;
}

a:hover {
  color: var(--font-damage);
}

header .wrapper_container {
  border-bottom: solid 1px var(--font-hero);
  display: flex;
  justify-content: space-between;
}

.menu_header {
  display: flex;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#hero {
  display: flex;
}

.hero_pic {
width: 300px;
  cursor: pointer;
  transition: transform 0.3s;
}

.hero_pic:hover {
  transform: scale(1.05);
}

.about_hero {
  max-width: 650px;
  margin: auto;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#wins {
  color: var(--font-win);
}

#loses {
  color: var(--font-lose);
}

/* SELECTOR HERO */

#hero_selector {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.selector_container {
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
}

.hero_options {
    margin: 25px;
  display: flex;
  gap: 20px;
  justify-content:flex-start;
}

.hero_option {
  width: 150px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s;
}

.hero_option:hover {
  transform: scale(1.05);
}

.hero_option img {
  max-width: 100%;
  height: auto;
}

.close_selector {
  display: block;
  width: 350px;
  margin: 20px auto 0;
  padding: 8px 20px;
  background-color: var(--font-hero);
  color: var(--bg-white);
  font-size: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back_to_fight {
  display: flex;
  justify-content: flex-end;
}

.to_fight {
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: var(--font-hero);
  color: var(--bg-white);
  border: none;
  border-radius: 5px;
  font-size: var(--font-common);
  cursor: pointer;
  transition: 0.3s;
}

.to_fight:hover {
   background-color: var(--font-boss);
  color: var(--bg-white);
}

.to_fight:active {
   background-color: var(--font-boss);
  color: var(--font-hero);
  transform: scale(0.9);  
}
