:root {
  --bg-dark: #030303;
  --bg-white: #ffffff;
  --font-boss: #a77540;
  --font-hero: #2d2e5d;
  --font-damage: #c83b1d;
  --font-main: #543524;
  --font-win: #244c3f;
  --font-lose: #8f3c3d;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

header,
section,
footer {
  padding-top: 75px;
  background-color: var(--bg-white);
  max-width: 1024px;
  margin: 0px auto;
}

h1,
h2,
h3,
p,
li,
a {
  font-family: Roboto;
  color: var(--font-main);
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
  letter-spacing: 1.5;
  line-height: 25px;
}

a:hover {
  color: var(--font-damage);
}

header .wrapper_container {
  border-bottom: solid 1px var(--font-main);
  display: flex;
  justify-content: space-between;
}

.menu_header {
  display: flex;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#battle-scene {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--font-main);
  padding-bottom: 15px;
}

#hero, #boss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hero_view,
.boss_view {
  width: 250px;
  height: 300px;
  cursor: pointer;
}

.hero_view {
  border: 10px groove var(--font-hero);
}

.boss_view {
  border: 10px groove var(--font-boss);
}

.hero_pic,
.boss_pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#hero_name,
.hero_score {
  color: var(--font-hero);
}

#boss_name,
.boss_score {
  color: var(--font-boss);
}

.hero_stamina, .boss_stamina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;   
}

.battle_log {
    margin-top: 15px;
}
